img {
  width: 18%;
  height: auto;
  vertical-align: middle;
}

main {
  margin-bottom: 5%;
}

.link-grid {
  display: grid;
  grid-template-columns: 5% 20% 20% 6% 20% 20% 9%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.gallery-text {
  grid-column: 2/4;
}

.fun-facts-text {
  grid-column: 5/7;
}

.link-gallery {
  grid-row: 2/4;
  grid-column: 2/4;
}

.link-facts {
  grid-row-start: 2/4;
  grid-column: 5/7;
}

.link-facts>img {
  object-fit: cover;
  width: 100%;
  border: 10px solid rgba(138, 101, 199, 0.352);
  border-radius: 5px;
  padding: 0px;
  margin: 20px;
}

.link-gallery>img {
  object-fit: cover;
  width: 85%;
  border: 10px solid rgba(138, 101, 199, 0.352);
  border-radius: 5px;
  padding: 0px;
  margin: 20px; 
}


#banner {
  width: 100%;
}

#icon {
  width: 24px;
  height: 24px;
}

/* Base styles for the navigation */
nav {
  position: relative;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px 15px;
}

/* Hide the hamburger menu by default */
.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  background: none;
  border: none;
}

/* Media Query for Mobile (screen width <= 768px) */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show hamburger on mobile */
  }

  ul {
    display: none; /* Hide the menu by default */
    position: absolute;
    top: 50px; /* Position the menu below the hamburger icon */
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
  }

  ul li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #333;
    border-bottom: 1px solid #fff;
  }

  ul li a {
    color: white;
    text-decoration: none;
  }

  /* When the menu is toggled */
  ul.open {
    display: flex;
  }
}

