* {padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    /* display: block; */
    }

#header-image {
    width: 100%;
}

.container {
    display: grid;
}

body .description {
    display: block; /* Ensures each line appears on a new line */
    color:dimgray;
    font-size: smaller;
    font-weight: lighter;
    text-align: center;
    padding: 2%;
}
